#reply-control div[data-thumb="featured"] > p {
  border-left: 4px solid $tertiary;
  padding-left: 2px;
  margin-top: 2em;

  > img:not(.thumbnail) {
    width: auto;
    max-height: 110px;
    margin: 2px;
  }
}

.cooked .slick-initialized img:not(.thumbnail) {
  max-width: 100%;
  height: auto;
}